<h2>My Contacts</h2>
<ul class="contacts">
  <li *ngFor="let contact of contacts"
    [class.selected]="contact === selectedContact"
    (click)="onSelect(contact)">
    <span class="badge">{{contact.name}}</span> {{contact.primary}}
  </li>
</ul>
 

<div *ngIf="selectedContact">
 
  <h2>{{selectedContact.name | uppercase}} Details</h2>
  <div>
    <label>name:
      <input [(ngModel)]="selectedContact.name" placeholder="name">
    </label>
  </div>
    
  <div>
    <label>email:
      <input [(ngModel)]="selectedContact.email" placeholder="email">
    </label>
  </div>
    
  <div>
    <label>location:
      <input [(ngModel)]="selectedContact.location" placeholder="location">
    </label>
  </div>
    
  <div>
    <label>primary:
      <input [(ngModel)]="selectedContact.primary" placeholder="primary">
    </label>
  </div>
 
</div>


<!--

<div class="well clearfix">
	<fieldset class="scheduler-border">
	 <legend class="scheduler-border">Add Contact</legend>
	   <form class="form-inline">
		 <div class="form-group">
		   <label for="exampleInputName">Name</label>
		   <input type="text" class="form-control" id="exampleInputName" ng-model="name" placeholder="name">
		 </div>
		<div class="form-group">
		  <label for="exampleInputEmail">Email</label>
		  <input type="text" class="form-control" id="exampleInputEmail" ng-model="email" placeholder="email"/>
		</div>
		<div class="form-group">
		  <label for="exampleInputLocation">Location</label>
		  <input type="text" class="form-control" id="exampleInputLocation" ng-model="location" placeholder="location">
		</div>
        <div class="form-group">
          <label for="exampleInputPrimary">Primary</label>
          <input type="text" class="form-control" id="exampleInputPrimary" ng-model="primary" placeholder="primary">
		</div>
		<button type="button" class="btn btn-primary" ng-click="addContact()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Contact</button>
	  </form>
	</fieldset>
</div>
-->
