<ul class="contacts">
  <li *ngFor="let contact of contacts"
    [class.selected]="contact === selectedContact"
    (click)="onSelect(contact)">
    <span class="contact_name">{{contact.name}}</span> {{contact.primary}}
  </li>
</ul>


<!-- allows ability to edit contact if clicked last-->
<div *ngIf="selectedContact"> 
  <h2>{{selectedContact.name | uppercase}} Details</h2>
  <div>
    <label>name:
<!-- details of each contact can be edited using the input box -->
      <input [(ngModel)]="selectedContact.name" placeholder="name">
    </label>
  </div>
    
  <div>
    <label>email:
      <input [(ngModel)]="selectedContact.email" placeholder="email">
    </label>
  </div>
    
  <div>
    <label>location:
      <input [(ngModel)]="selectedContact.location" placeholder="location">
    </label>
  </div>
    
  <div>
    <label>primary:
      <input [(ngModel)]="selectedContact.primary" placeholder="primary">
    </label>
  </div>
</div>